@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #eff1f3;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7aafff;
  border-radius: 100vh;
  border: 6px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7aafff;
}
